Body {
    /* Custom Font*/
    font-family: 'Merriweather', serif; 
    color: #393838;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    line-height: 1.6;
}

#Biography-Header {
    background-image: linear-gradient(to right, #f99eab, #6a89cc);
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.Main-Content-Box {
    background-color: #ffffff;
    width: 80%;
    margin: 40px auto; 
    border: 5px solid #4a69bd; 
    padding: 30px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.Background-Feature {
    padding: 40px 30px;
    margin-top: 30px;
    color: #393838;
    background-image: url("random-background.png");
    background-color: #333;
    background-size: 1200px 1200px; 
}


.Icon-Block {
    text-align: center;
    margin-top: 20px;
}
.Icon-Style {
    font-size: 35px;
    color: #d02d74;
    margin: 0 10px;
}

.Bio-Figure {
    float: right; 
    margin: 0 0 15px 25px;
    padding: 5px;
    border: 5px solid #f26060;
}

.Bio-Photo {
    max-width: 150px; 
    height: auto;
    display: block; 
    border-radius: 5px;
}

.Introductory-Text {
    text-align: justify;
}

.List-Text {
    margin-left: 20px;
    padding-left: 0;
    list-style-type: square; 
}

Footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}